{% load i18n %}
{% if form %}
    <div class="well">
        <div class="page-header">
            <h3>{% trans "Add to catalog" %}</h3>
        </div>
        <form id="catalog-item-form" enctype="multipart/form-data" method="post" action="{{ form_url }}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {{ form.as_p }}
            <p>
                <input type="submit" class="btn-success" value="{% trans 'Save' %}"/>
            </p>
        </form>
    </div>
{% endif %}